# This is a template to store the ckey just one time
# Delete the .template extension after saving your ckey

# The ckey of the bot must be between quotation marks
# Replace the 'your key' with your key, it should look like this:
# CKEY= "8228bf-..."

CKEY = "your key"